---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} P3PP3RM1N7Bunnie. All rights reserved.
	<div class="social-links">
			<a href="https://spacehey.com/andyoudontseemtounderstand" target="_blank">
			<img src="https://i.ibb.co/k23HtbBx/spacehey.png" alt="rainbow dash best day ever" width="120" height="60" border="0">



			</a>
			<a href="https://discordapp.com/users/1106436623677272074" target="_blank">
				<span class="sr-only">Discord</span>
				<img src="https://i.ibb.co/B2VzJ4fN/Untitled-video-Made-with-Clipchamp-5.gif" alt="spacehey" width="120" height="60" border="0">
			</a>



            <a href="https://github.com/P3PP3RM1N7Bunnie" target="_blank">
				<span class="sr-only">Bunnie's GitHub repo</span>
				<img src="https://i.ibb.co/chb1nLbB/main.png" alt="anime girl smoking" width="60" height="60" border="0">
			</a>
		</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
